<%= form_with model: @wine, local: true do |f| %>
<div class="form-group">
  <%= f.attachment_field :wine_image, class: "form wine_image" %>
</div>
<div class="form-group">
  <%= f.text_field :wine_name, :placeholder => "ワイン名を入力     ", class:"form wine_name" %>
</div>
<div class="form-group">
  <%= f.select :kind, Wine.kinds.keys, {}, class: "form wine_kind" %>
</div>
<div class="form-group">
  <%= f.select :country, Wine.countries.keys, {}, class: "form wine_country" %>
</div>
<div class="form-group">
  <%= f.select :variety, Wine.varieties.keys, {}, class: "form wine_variety" %>
</div>
<div class="form-group">
  <%= f.select :price, Wine.prices.keys, {}, class: "form wine_price" %>
</div>
<div class="form-group">
  <%= f.label :生産年 %>
  <%= f.date_select :vintage,{:discard_month => true, :start_year => 1989, :end_year => (Time.now.year)}, include_blank: "---", class: "form wine_vintage" %>
</div>
<div class="form-group" id="star">
  <%= f.label :評価 %>
  <%= f.hidden_field :rating, id: :rating_star, class: "form_rating" %>
</div>
 <%= f.submit "保存", class: "btn btn-primary" %>
<% end %>

<script>
  $("#star").raty({
    starOff:  "<%= asset_path("star-off.png") %>",
    starOn : "<%= asset_path("star-on.png") %>",
    scoreName: "wine[rating]",
  });
</script>