<div class="container">
  <% render "layouts/errors", obj: @wine %>
  <div class="row">
    <div class="col-md-3">
      <!--render "user/info", user: current_user-->
      <h3 class="mt-3">NEW TASTING</h3>
      <%= render "form", wine: @wine %>
    </div>
    <div class="col-md-9 offset-md-1">
      <% @wines.each do |wine| %>
      <%= attachment_image_tag wine, :wine_image, :fill, 200, 200 %>
      <%= image_tag('no_image.jpg') %>
      <%= wine.user.name %>
      <%= wine.wine_name %>
      <div id="star-rate-<%= wine.id %>"></div>
          <script>
          $('#star-rate-<%= wine.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            readOnly: true,
            score: <%= wine.rating %>,
          });
          </script>
      <% end %>

        </div>
      </div>
    </div>
  </div>
</div>