<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#800000;">
    <div class="container">
      <a class="navbar-brand" href="/">GENTLE</span></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to ' MY PAGE',user_path(current_user),class: 'fas fa-wine-bottle nav-item, nav-link, btn btn-lg btn-outline-light home-btn' %></li>
          <li><%= link_to ' USERS',users_path,class: 'fas fa-user-tie nav-item, nav-link, btn btn-lg btn-outline-light user-btn' %></li>
          <li><%= link_to ' WINES',wines_path ,class: 'fas fa-wine-glass-alt nav-item, nav-link, btn btn-lg btn-outline-light wine-btn' %></li>
          <li><%= link_to ' LOG OUT', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-item, nav-link, btn btn-lg btn-outline-light logout-btn' %></li>
        <% else %>
          <li><%= link_to ' HOME',root_path,class: 'fas fa-hotel nav-item, nav-link, btn btn-lg btn-outline-light home-btn' %></li>
          <li><%= link_to ' SING UP', new_user_registration_path,class: 'fas fa-user-plus nav-item, nav-link, btn btn-lg btn-outline-light signup-btn' %></li>
          <li><%= link_to ' LOG IN', new_user_session_path ,class: 'fas fa-sign-in-alt nav-item, nav-link, btn btn-lg btn-outline-light login-btn'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
